@{
    Layout = "_Mylayout";
}
@model Customer
<head>
    
</head>

<body>
    <h1 style="text-align:center;padding:40px">Elglaly Store</h1>
    <div class="container" >

        <div class="col-md-6 mb-5 mb-md-0" >
            <div class="p-3 p-lg-5 border bg-white">
                <form asp-action="Login_valid">
                 <div class="form-group row">
                    <h3 style="text-align:center">Login</h3>
                 </div>
                <span asp-validation-summary="Customer"></span>
                <div class="form-group-row">
                    <label asp-for="Email" class="text-black"></label>
                     <span class="text-danger">*</span>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email"></span>
                 </div>

                <div class="form-group-row">
                        <label asp-for="Password" class="text-black"></label>
                        <span class="text-danger">*</span>
                    <input asp-for="Password" class="form-control" />           
                </div>
                <br />
                <div class="form-group row">
                    <button type="submit" style="text-align:center" class=" btn btn-secondary me-2"> Login </button>
                </div>
 

                <div class="form-group row">
                    <a asp-action="Registeration" style="text-align:center ; color:cadetblue">Create Account?</a>
                </div>
             </form>
            </div>


        </div>

    </div>


</body>